@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
  margin-left: 14%;
  overflow: inherit;
}

li {
  list-style-type: none;
}

input {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 30px;
  margin: 2%;
}

.addBook {
  background-color: #3e98c7;
  color: #fff;
  padding: 1%;
  border: #3e98c7;
  font-size: 20px;
}

.section3 p {
  color: #d3d3d3;
  margin-top: 0;
}

.section3 h3 {
  margin: 4%;
}
