
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');
body {
    font-family: 'Caveat', cursive;
}
input {
    font-family: 'Caveat', cursive;
}
button {
    font-family: 'Caveat', cursive;
}